* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  html {
    min-height: 100%;
    position: relative;
    background-color: white;
  }
  
  body {
    font-family: sans-serif;
  }
  
  
  #AirButton {
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    outline: 2px solid dodgerblue;
    padding: 20px;
    background-color: dodgerblue !important;
    bottom: 0;
    right: 0;
  }
  #AirButton img{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter:invert();
    
  
  }
  
  header {
    background: dodgerblue;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .icon {
    width: 30px;
    height: 30px;
  }
  
  #Buscar {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  #Buscar .imagenNavMovil {
    background-image: url(../images/menu.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    filter:invert();
    display: visible;
    transition: all 0.25s;
  }
  
  
  .MovilNav_Container input {
    margin: 10px;
    height: 50px;
    padding: 20px;
    margin-bottom: 20px;
    background: url("https://assets.digitalocean.com/labs/icons/search.svg") no-repeat 95% 50% rgb(255, 255, 255);
    background-size: 20px;
  }
  
  .MovilNav_Container:hover .MovilNav  {
    left: 0;
  }
  
  #Buscar .imagenNavMovil:hover {
    background-image: url(../images/closeIcon.svg);
    width: 30px;
    height: 30px;
  }
  
  .blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 2000px;
    z-index: 1;
  }
  .MovilNav {
    position: absolute;
     top: 0px;
    left: -2000px;
    z-index: 2;
    display: flex;
    flex-direction: column;
     background: dodgerblue;
    box-shadow: 100px 0px 180px rgb(0, 0, 0);
    height: 100%;
    width: 70%;
    transition: all .6s;
    backdrop-filter: blur(50px);
  }
  
  .MovilNav #cerrar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-size: 25px;
    padding: 10px;
  }
  
  /* switch modo noche */
  .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: snow;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    z-index: 2;
    background-color: rgb(255, 208, 0);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #0a2540;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
    background-color: white;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  
  /*Fin switch modo noche*/
  
  .MovilNav hr {
    height: 1px;
    background-color: white;
    border: 0px solid;
  }
  
  .MovilNav ul li {
    display: flex;
  }
  .MovilNav ul li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    width: 100%;
  }
  
  /*fin navegacion movil*/
  
  
  #Cuenta {
    display: flex;
    gap: 15px;
    margin-right: 10px;
  }
  
  #logo {
    width: 140px;
    height: 140px;
  }
  
  #navbar {
    background-color: dodgerblue;
    border-top: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  #navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  #navbar ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
  }
  
  #navbar ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
    border-radius: 3px;
  }
  
  #navbar a.active, #navbar a:hover {
    background-color: orange;
    transition: all .5s;
  }
  
  
  /*SIHHPING MAIN*/

  .checkoutNav {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-top: 10px;
  }

  .checkoutNav p {
    border: 2px solid dodgerblue;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 143, 255, 0.475);
    border-top-right-radius: 15px;
    padding: 5px;
  }

  .seleccionado {
    background-color: orange !important;
    border: 2px solid rgb(69, 45, 0) !important;
    font-weight: bold;
    color: rgb(69, 45, 0);
  }

  #Envio {
    display: flex;
    flex-direction: column;
    padding: 20px;

    & #espacioBlanco{
        width: 20px;
    }
  }

  #cabeceraEnvio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  

  /*EnvioMain*/

  .envioMain {
    margin-top: 20px;
  }

  .Tarjeta {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    color: white;
    background: rgb(153,0,201);
    background: linear-gradient(155deg, rgba(153,0,201,1) 10%, rgba(29,51,253,1) 50%, rgba(0,255,250,1) 100%); 
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }

  #logoAjustes {
    display: flex;
    justify-content: space-between;
  }

  #logoAjustes img {
    width: 80px;
    filter: invert();
  }

  #digitos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
  }

  #nombreCVV {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
  }

  .metodos {
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-around;
  }

  .metodos img {
    width: 60px;
  }

  #selectedMethod {
    background-color: rgba(30, 143, 255, 0.479);
  }

  #separador {
    height: 10px;
    border-radius: 10px;
    background-color: rgba(30, 143, 255, 0.429);
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
  }
  
  .button {
    width: 120px;
    border: 0px;
    border-radius: 10px;
    padding: 8px;
    font-size: 20px;
    display: flex;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .botones {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 25px;
  }

  #anterior {
    background-color: white;
    border: 2px solid gray;
  }
  #siguiente {
    background-color: orange;
  }

 #cancelar {
    background-color: red;
    color: white;
    margin-top: 20px;
    width: 100%;
 } 



  /*FINAL DE CHECKOUT MAIN*/
  
  
  /* FOOTER */
  
  footer {
    width: 100%;
    position: absolute;
    background-color: dodgerblue;
    color: white;
    font-size: 15px;
    padding: 10px;
  }
  
  /*RESPONSIVIDAD*/
  
  /*PC*/
  @media (min-width: 1281px) {
  
    #AirButton {
      left: 1800px;
      top: 870px;
    }
  
    header {
        height: 150px;
    }
  
    #logo {
        width: 200px;
        height: 200px;
    }
  
    .imagenNavMovil { 
      display: none; 
    } 
  
    .MovilNav {
      display: none;
    }
  
    #navbar {
        display: block;
        font-weight: bolder;
    }
  
    /*Contenido del main*/
  
    main {
      margin-bottom: 180px;
    }
  
    /*Fin del contenido del main*/
  
    footer {
        font-size: 20px;
        padding: 20px;
        height: 150px;
    }
  
  }
  
  /* Tablet */
  
  @media ((min-width: 768px) and (max-width: 1200px)) {
    header {
      height: 150px;
  }
  
  #logo {
      width: 200px;
      height: 200px;
  }
  
  .imagenNavMovil { 
    display: none; 
  } 
  
  .MovilNav {
    display: none;
  }
  
  #navbar {
      display: block;
      font-weight: bolder;
  }
  
  /*Contenido del main*/
  
  main {
    margin-bottom: 180px;
  }
  /*Fin del contenido del main*/
  
  footer {
      font-size: 20px;
      padding: 20px;
      height: 150px;
  }
  }
  
  
  
  
  