* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  html {
    min-height: 100%;
    position: relative;
    background-color: white;
  }
  
  body {
    font-family: sans-serif;
  }
  
  
  #AirButton {
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    outline: 2px solid dodgerblue;
    padding: 20px;
    background-color: dodgerblue !important;
    bottom: 0;
    right: 0;
  }
  #AirButton img{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter:invert();
    
  
  }
  
  header {
    background: dodgerblue;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .icon {
    width: 30px;
    height: 30px;
  }
  
  #Buscar {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  #Buscar .imagenNavMovil {
    background-image: url(../images/menu.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    filter:invert();
    display: visible;
    transition: all 0.25s;
  }
  
  
  .MovilNav_Container input {
    margin: 10px;
    height: 50px;
    padding: 20px;
    margin-bottom: 20px;
    background: url("https://assets.digitalocean.com/labs/icons/search.svg") no-repeat 95% 50% rgb(255, 255, 255);
    background-size: 20px;
  }
  
  .MovilNav_Container:hover .MovilNav  {
    left: 0;
  }
  
  #Buscar .imagenNavMovil:hover {
    background-image: url(../images/closeIcon.svg);
    width: 30px;
    height: 30px;
  }
  
  .blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 2000px;
    z-index: 1;
  }
  .MovilNav {
    position: absolute;
     top: 0px;
    left: -2000px;
    z-index: 2;
    display: flex;
    flex-direction: column;
     background: dodgerblue;
    box-shadow: 100px 0px 180px rgb(0, 0, 0);
    height: 100%;
    width: 70%;
    transition: all .6s;
    backdrop-filter: blur(50px);
  }
  
  .MovilNav #cerrar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-size: 25px;
    padding: 10px;
  }
  
  /* switch modo noche */
  .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: snow;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    z-index: 2;
    background-color: rgb(255, 208, 0);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #0a2540;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
    background-color: white;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  
  /*Fin switch modo noche*/
  
  .MovilNav hr {
    height: 1px;
    background-color: white;
    border: 0px solid;
  }
  
  .MovilNav ul li {
    display: flex;
  }
  .MovilNav ul li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    width: 100%;
  }
  
  /*fin navegacion movil*/
  
  
  #Cuenta {
    display: flex;
    gap: 15px;
    margin-right: 10px;
  }
  
  #logo {
    width: 140px;
    height: 140px;
  }
  
  #navbar {
    background-color: dodgerblue;
    border-top: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  #navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  #navbar ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
  }
  
  #navbar ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
    border-radius: 3px;
  }
  
  #navbar a.active, #navbar a:hover {
    background-color: orange;
    transition: all .5s;
  }
  
  
  /*SIHHPING MAIN*/

  .checkoutNav {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-top: 10px;
  }

  .checkoutNav p {
    border: 2px solid dodgerblue;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 143, 255, 0.475);
    border-top-right-radius: 15px;
    padding: 5px;
  }

  .seleccionado {
    background-color: orange !important;
    border: 2px solid rgb(69, 45, 0) !important;
    font-weight: bold;
    color: rgb(69, 45, 0);
  }

  .checkoutNav p:nth-child(1) {
    background-color: rgb(38, 99, 119);
    color: rgb(225, 225, 225);
  }

  .checkoutNav p:nth-child(2) {
    background-color: rgb(38, 99, 119);
    color: rgb(225, 225, 225);
  }

  .checkoutNav p:nth-child(3) {
    background-color: rgb(38, 99, 119);
    color: rgb(225, 225, 225);
  }

  #Sumarize {
    display: flex;
    flex-direction: column;
    padding: 20px;

    & #espacioBlanco{
        width: 20px;
    }
  }

  #cabeceraSum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .confirmarMain {
    margin-top: 20px;
  }


  /*Contenido del main dentro de la confirm*/

  .confirmarMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .resumenProductos {
    margin-top: 20px;
    background-color: rgba(30, 143, 255, 0.479);
    padding: 10px;
    border-radius: 10px;
  }

  .productos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: -100px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;

    border: 2px solid white;
    padding: 20px;
    
    & img {
      width: 20%;
    }

    & div {
      width: 200px;
    }
  }


  .direccion {

    margin-top: 20px;
    background-color: rgba(30, 143, 255, 0.479);
    padding: 10px;
    border-radius: 10px;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: 20px;
    gap: 10px;

  }

  .envio {

    margin-top: 20px;
    background-color: rgba(30, 143, 255, 0.479);
    padding: 10px;
    border-radius: 10px;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
    gap: 10px;
    
  }

  .pago {
    margin-top: 20px;
    background-color: rgba(30, 143, 255, 0.479);
    padding: 10px;
    border-radius: 10px;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
    gap: 10px;
    
  }

  .total {
    background-color: rgba(255, 166, 0, 0.464);
    padding: 8px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
    gap: 10px;
    
  }

  #confirmar {
    margin-top: 20px;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: orange;
    font-weight: bold;
    color: rgb(92,60,0);
    border: 2px solid rgb(92, 60, 0);
    width: 100%;
  }

  #actionButtons {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 40px;
    justify-content: space-between;
  }

  #cancelar {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(212, 28, 28);
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(110, 0, 0);
  }

  #atras {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    color: rgb(92,60,0);
    border: 2px solid rgb(92, 60, 0);
  }

  a {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  #actionButtons a {
    width: 40%;
  }



  /*FINAL DE CHECKOUT MAIN*/
  
  
  /* FOOTER */
  
  footer {
    width: 100%;
    position: absolute;
    background-color: dodgerblue;
    color: white;
    font-size: 15px;
    padding: 10px;
  }
  
  /*RESPONSIVIDAD*/
  
  /*PC*/
  @media (min-width: 1281px) {
  
    #AirButton {
      left: 1800px;
      top: 870px;
    }
  
    header {
        height: 150px;
    }
  
    #logo {
        width: 200px;
        height: 200px;
    }
  
    .imagenNavMovil { 
      display: none; 
    } 
  
    .MovilNav {
      display: none;
    }
  
    #navbar {
        display: block;
        font-weight: bolder;
    }
  
    /*Contenido del main*/
  
    main {
      margin-bottom: 180px;
    }

    #Envio {
      background-color: snow;
      margin-left: 30%;
      margin-right: 30%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    body {
      background-color: rgb(185, 228, 255)
    }


    .Tarjeta {
      width: 400px;
      margin: auto;
      margin-bottom: 30px;
    }
    
    .metodos {
      margin-left: 20%;
      margin-right: 20%;
    }

    #separador {
      margin-left: 40%;
      margin-right: 40%;
    }

  
    /*Fin del contenido del main*/
  
    footer {
        font-size: 20px;
        padding: 20px;
        height: 150px;
    }
  
  }
  
  /* Tablet */
  
  @media ((min-width: 768px) and (max-width: 1200px)) {
    header {
      height: 150px;
  }
  
  #logo {
      width: 200px;
      height: 200px;
  }
  
  .imagenNavMovil { 
    display: none; 
  } 
  
  .MovilNav {
    display: none;
  }
  
  #navbar {
      display: block;
      font-weight: bolder;
  }
  
  /*Contenido del main*/
  
  main {
    margin-bottom: 180px;
  }
  /*Fin del contenido del main*/
  
  footer {
      font-size: 20px;
      padding: 20px;
      height: 150px;
  }
  }
  
  
  
  
  