* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;
  background-color: white;
}

body {
  font-family: sans-serif;
}


#AirButton {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  outline: 2px solid dodgerblue;
  padding: 20px;
  background-color: dodgerblue !important;
  bottom: 0;
  right: 0;
}
#AirButton img{
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter:invert();
  

}

header {
  background: dodgerblue;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.icon {
  width: 30px;
  height: 30px;
}

#Buscar {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#Buscar .imagenNavMovil {
  background-image: url(../images/menu.png);
  background-size: contain;
  width: 30px;
  height: 30px;
  filter:invert();
  display: visible;
  transition: all 0.25s;
}


.MovilNav_Container input {
  margin: 10px;
  height: 50px;
  padding: 20px;
  margin-bottom: 20px;
  background: url("https://assets.digitalocean.com/labs/icons/search.svg") no-repeat 95% 50% rgb(255, 255, 255);
  background-size: 20px;
}

.MovilNav_Container:hover .MovilNav  {
  left: 0;
}

#Buscar .imagenNavMovil:hover {
  background-image: url(../images/closeIcon.svg);
  width: 30px;
  height: 30px;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 2000px;
  z-index: 1;
}
.MovilNav {
  position: absolute;
   top: 0px;
  left: -2000px;
  z-index: 2;
  display: flex;
  flex-direction: column;
   background: dodgerblue;
  box-shadow: 100px 0px 180px rgb(0, 0, 0);
  height: 100%;
  width: 70%;
  transition: all .6s;
  backdrop-filter: blur(50px);
}

.MovilNav #cerrar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  font-size: 25px;
  padding: 10px;
}

/* switch modo noche */
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: snow;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  z-index: 2;
  background-color: rgb(255, 208, 0);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #0a2540;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: white;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*Fin switch modo noche*/

.MovilNav hr {
  height: 1px;
  background-color: white;
  border: 0px solid;
}

.MovilNav ul li {
  display: flex;
}
.MovilNav ul li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  width: 100%;
}

/*fin navegacion movil*/


#Cuenta {
  display: flex;
  gap: 15px;
  margin-right: 10px;
}

#logo {
  width: 140px;
  height: 140px;
}

#navbar {
  background-color: dodgerblue;
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#navbar ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 5px;
}

#navbar ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  text-transform: uppercase;
  border-radius: 3px;
}

#navbar a.active, #navbar a:hover {
  background-color: orange;
  transition: all .5s;
}


/*PERFIL PRODUCTO (MAIN)*/

#ContenedorProducto {
  margin-top: 1px;
  margin-bottom: 50px;
}
.ImagenProducto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.ImagenProducto img {
  width: 100%;
}

.miniaturas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.miniaturas img{
  width: 20%;
  padding: 5px;
  border: 1px solid dodgerblue;
}

#ContenedorProducto aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

#puntuacion {
  display: flex;
  gap: 5px;
}

#puntuacion img {
  width: 20px;
}

#detallesYEnvio {
  display: flex;
  gap: 20px;
}

#detallesProducto {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#envio {
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px black;
}

.ContenedorColores {
  display: flex;
  gap: 5px;
}
.color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
}

#negro {
  background: black;
}
#gris{
  background: gray;
}
#nblanco {
  background: white !important;
}

select {
  width: 40%;
  padding: 5px;
  background-color: dodgerblue;
  color: white;
  border: 0px solid transparent;
  font-size: 12px;
}

/*cantidades de compra*/

#Cantidades {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#Cantidades button {
  width: 50px;
}
#quantity {
  width: 50px;
  text-align: center;
}

/*FIN cantidades de compra*/

button {
  width: 200px;
  height: 30px;
  background-color: white;
  border: 2px solid orange;
  border-radius: 20px;
  font-weight: bold;
}

#comprarfoccus {
  background-color: orange !important;
  box-shadow: 0px 0px 10px orange;
  text-shadow: 0px 0px 10px white;
}

.vista-previa {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.vista-previa img {
  width: 80px;
  border: 2px solid dodgerblue;
  padding: 5px;
}


/*INFORMACION*/

.informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: rgba(30, 191, 255, 0.397);
  backdrop-filter: blur(10px);
  margin: 20px;
  border-radius: 20px;
}

.informacion a {
  font-size: 20px;
  text-decoration: none;
  background-color: orange;
  text-align: center;
  color: black;
  padding: 10px;
  border-radius: 20px;
  transform: scale(1);
}

.hazmeclick {
  animation: hazmeclick-animation .75s infinite alternate;
}

@keyframes hazmeclick-animation {
  from {
    transform: scale(1);
    box-shadow: 0px 0px 0px white;
  }

  to {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px white, 0px 0px 20px white;
  }
}

/* TALBA DE TALLAS */
#Tallas {
  margin-top: 20px;
  padding: 20px;
}

table {
  border: 1px solid gray;
  width: 200px;
}

table tbody {
  border: 1px solid blue;
}

tbody tr, tbody td {
  border: 1px solid gray;
  padding: 5px;
}
/* FIN TABLA DE TALLAS */

/* COMENTARIOS */
.card {
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  border-radius: 6px;
  border: 2px solid gray;
}

.comment-box{
  padding:5px;
}

.comment-box p {
  color: dodgerblue;
}
.comment-area textarea{
 resize: none; 
 border: 1px solid #ad9f9f;
}


.form-control:focus {
  color: #495057;
  border-color: #ffffff;
  outline: 0;
  box-shadow: 0 0 0 1px rgb(0, 157, 255)
}

.send {
  color: #000000;
  background-color: orange;
  width: 80px;
  border: 0px solid black;
  margin-left: -160px;
}

.send:hover {
  color: black;
  background-color: yellow;
}


.rating {
  display: flex;
  margin-top: -10px;
  flex-direction: row-reverse;
  margin-left: -4px;
  float: left;
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 19px;
  font-size: 25px;
  color: rgb(255, 136, 0);
  cursor: pointer;
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}
/* FIN COMENTARIOS */


/*DUDAS*/

#dudas {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}
/* FOOTER */

footer {
  width: 100%;
  position: absolute;
  background-color: dodgerblue;
  color: white;
  font-size: 15px;
  padding: 10px;
}

/*RESPONSIVIDAD*/

/*PC*/
@media (min-width: 1281px) {

  #AirButton {
    left: 1800px;
    top: 870px;
  }

  header {
      height: 150px;
  }

  #logo {
      width: 200px;
      height: 200px;
  }

  .imagenNavMovil { 
    display: none; 
  } 

  .MovilNav {
    display: none;
  }

  #navbar {
      display: block;
      font-weight: bolder;
  }

  /*Contenido del main*/

  main {
    margin-bottom: 180px;
  }

  #ContenedorProducto {
    margin-top: 20px;
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 20px;
  }
  

  .ImagenProducto {
    width: 40%;
    height: 100%;
    transition: transform 0.3s, box-shadow 0.3s;

  }

  .ImagenProducto img {
    border-radius: 20px;
  }

  #carouselExampleAutoplaying {
    width: 40%;
  }

  aside {
    font-size: 20px;
    width: 100%;
  }

  table {
    border: 1px solid gray;
    width: 500px;
  }


  /*Fin del contenido del main*/

  footer {
      font-size: 20px;
      padding: 20px;
      height: 150px;
  }

}

/* Tablet */

@media ((min-width: 768px) and (max-width: 1200px)) {
  header {
    height: 150px;
}

#logo {
    width: 200px;
    height: 200px;
}

.imagenNavMovil { 
  display: none; 
} 

.MovilNav {
  display: none;
}

#navbar {
    display: block;
    font-weight: bolder;
}

/*Contenido del main*/

main {
  margin-bottom: 180px;
}

#ContenedorProducto {
  margin-top: 20px;
  display: flex;
  width: 100%;
  overflow: hidden;
}


.ImagenProducto {
  width: 80%;
  height: 100%;
  transition: transform 0.3s, box-shadow 0.3s;

}

.ImagenProducto img {
  border-radius: 20px;
}

#carouselExampleAutoplaying {
  width: 50%;
}

aside {
  font-size: 20px;
}

table {
  border: 1px solid gray;
}


/*Fin del contenido del main*/

footer {
    font-size: 20px;
    padding: 20px;
    height: 150px;
}
}




